<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png"/>
  <link rel='stylesheet' href='/css/styles.css' />
</head>
<body>
{{>header}}
<div>
<p class="card">{{query}}: {{errMess}}</p>
</div>
  {{>footer}}
</body>
</html>