<html lang='en'>
	<head>
		<title>About</title>
		<link rel="icon" href="/img/weather.png"/>
		<link rel='stylesheet' href='css/styles.css' />
		<link rel="stylesheet" href="css/about.css">
	</head>

	
	<body>
		<div class="main_content">
			{{>header}}
				<img
					class='portrait'
					src='img/franco-antonio-giovanella-Cm6GGegbcoU-unsplash.jpg'
					alt='Alive potatoes by Franco Antonio Giovanella &hearts;'
				/>
		</div>
{{>footer}}
	</body>
</html>