<html lang='en'>
	<head>
		<link rel='stylesheet' href='css/styles.css' />
		<link rel="stylesheet" href="css/about.css">
	</head>

	
	<body>
			{{>header}}
		<div>
			<card class='user_card card'>
				<img
					class='user_picture'
					src='img/franco-antonio-giovanella-Cm6GGegbcoU-unsplash.jpg'
					alt='Alive potatoes by Franco Antonio Giovanella &hearts;'
				/>
				<p>Coded by: {{name}}</p>
			</card>
		</div>
	<footer>{{>footer}}</footer>
	</body>
</html>