<html>
	<head>
		<link rel='stylesheet' href='css/styles.css' />
		<link rel="stylesheet" href="css/help.css">
	</head>


		{{>header}}
	<div>
		<card class='card'>
			<h2 class='title'>Common questions:</h2>
			<h3 class='help'>
				{{question}}
			</h3>
			<span>{{answer}}</span>
		</card>

	</div>
	<footer>{{>footer}}</footer>
</html>